default_stages: [commit]

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          [
            "--extend-select",
            "F401",
            "--extend-select",
            "F841",
            "--fix",
            "--exit-non-zero-on-fix",
          ]
        types_or: [ python, pyi, jupyter ]
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml

  - repo: https://github.com/repo-helper/pyproject-parser
    rev: v0.7.0
    hooks:
      - id: check-pyproject
