[tool.poetry]
name = "psycop_feature_generation"
version = "0.10.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = ">=3.9, <3.11"
scipy = ">=1.8.0,<1.9.4"
wasabi = ">=0.9.1,<0.10.2"
scikit-learn = ">=1.1.2, <1.1.3"
wandb = ">=0.12.0,<0.13.5"
deepchecks = ">=0.8.0,<0.10.0"
dill = ">=0.3.0, <0.3.6"
srsly = ">=2.4.4,<2.4.6"
SQLAlchemy = ">=1.4.41, <1.5.42"
pyodbc = ">=4.0.34, <4.0.36"
dask = ">=2022.9.0,<2022.12.0"
pydantic = ">=1.9.0, <1.10.0"
psutil = ">=5.9.1, <6.0.0"
pandas = ">=1.4.0,<1.6.0"
catalogue = ">=2.0.0, <2.1.0"
numpy = ">=1.23.3,<1.23.6"
transformers = "^4.22.2"
pyarrow = ">=9.0.0,<9.1.0"
psycopmlutils = ">=0.2.4, <0.3.0"
protobuf = "<=3.20.3" # Other versions give errors with pytest, super weird!
frozendict = "^2.3.4"

[tool.poetry.dev-dependencies]
pytest = ">=7.1.3, <7.1.5"
black = ">=22.8.0,<22.10.1"
pre-commit = ">=2.20.0, <2.20.2"
pytest-cov = ">=3.0.0,<4.0.1"
flake8 = ">=5.0.0, <5.0.6"
docformatter = ">=1.5.0, <1.5.2"
mypy = ">=0.971,<0.992"
pytest-xdist = ">=2.4.0, <2.5.2"

pylint = "^2.15.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
known_third_party = ["wandb"]

[tool.pylint]
load-plugins = "pylint.extensions.docparams,pylint.extensions.code_style,pylint.extensions.for_any_all,pylint.extensions.typing"
good-names = "df,p,f,d,e,n,k,i,v"
disable = "too-many-lines,line-too-long,missing-raises-doc,no-self-argument,unused-wildcard-import,wildcard-import,no-else-return,too-many-arguments,redefined-outer-name,c-extension-no-member,wrong-import-order"

[tool.semantic_release]
branch = "main"
version_variable = [
    "pyproject.toml:version"
]
upload_to_pypi = true
upload_to_release = true
build_command = "pip install poetry && poetry build"

[tool.pytest]
n = 0

[tool.mypy]
ignore_missing_imports = true

[tool.pyright] # Added because of weird pylance error, issue here: https://github.com/microsoft/pylance-release/issues/3366
